node_modules/
dist/
dist-electron/
release/
release/**/*
*.appx
*.exe
*.log
.env
.env*.local
models/
engine/bin/
engine/lib/
engine/llama-build/
engine/obj/
talos-cli/bin/
check-*.js
fix-*.js

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
